.design
  &__section-title
    margin-bottom: 1rem
  &__section-subtitle
      font-family: 'Futura Book', sans-serif
      font-size: 1.428rem
      line-height: 1.928rem
      text-align: center
      margin: 0 auto
      margin-bottom: 3.5rem
      max-width: 52.93rem
.card
  &__price
    position: absolute
    left: 0
    bottom: -1.59rem  
    font-size: 1.285rem
    font-family: 'Yeseva One', cursive  
    line-height: 1.785rem  
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 17px 75px 16px 33px
